<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>suppliers.ejs</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css" />
</head>

<nav>
    <%- include("partials/navBar.ejs"); -%>
</nav>

<body class="container-fluid">
    <div class="mb-1">
		<a class="btn btn-primary" type="button" href="dashboard">
			<img src="css/bootstrap/bootstrap-icons/icons/arrow-left-circle-fill.svg" width="30" height="30"
				fill="%ffd700" alt="retour-tableau-de-bord">
		</a>
	
		<a class="btn btn-danger" type="button" href="deleteSupplier">
			<img src="css/bootstrap/bootstrap-icons/icons/trash-fill.svg" width="30" height="30"
				fill="%ffd700" alt="supprimer-fournisseur">
		</a>

		<a class="btn btn-warning" type="button" href="updateSupplier">
			<img src="css/bootstrap/bootstrap-icons/icons/arrow-clockwise.svg" width="30" height="30"
				fill="%ffd700" alt="modifier-fournisseur">
		</a>
	</div>
    <div>
        <h1>Fournisseurs référencés</h1>
        <p>
            Nombre de fournisseurs référencés :
            <%=supplierList.length %>
        </p>

        <div class="row justify-content-center">
            <div class="col-md-3">
                <form method="POST" action="/insertSupplierValidation" id="formAddSupplier">
                    <div class="mb-3">
                        <label class="row justify-content-center">Nom du fournisseur</label>
                        <input type="text" class="form-control" name="name_supplier" id="name_supplier"
                            value="Chomette" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">Nom du contact</label>
                        <input type="textarea" class="form-control" name="name_contact_supplier"
                            id="name_contact_supplier" value="Olivier" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">Numéro d'entreprise ou SIRET</label>
                        <input type="text" class="form-control" name="bin_supplier" id="bin_supplier" value="1234567" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">E-mail</label>
                        <input type="textarea" class="form-control" name="email_supplier" id="email_supplier"
                            value="olivier@chomette.com" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">Téléphone</label>
                        <input type="text" class="form-control" name="phone_supplier" id="phone_supplier"
                            value="0101010101" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">Adresse</label>
                        <input type="textarea" class="form-control" name="address_supplier" id="address_supplier"
                            value="1 rue de Paris" />
                    </div>

                    <div class="mb-3">
                        <label class="row justify-content-center">Ville</label>
                        <select class="form-control" name="id_city" id="id_city">
                            <option value="0">Choisissez</option>
                            <% cityList.forEach(function(cities) { %>
                                <option value="<%= cities['id_city'] %>">
                                    <%= cities['name_city'] %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-primary " value="Valider" id="btValider" />
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <input type="reset" class="btn btn-danger" value="Réinitialiser" id="btReinitialiser" />
                    </div>
                </form>
            </div>
        </div>
        <p>
            <%=message %>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Siret</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% supplierList.forEach(function(suppliers) { %>
                    <tr>
                        <td>
                            <%= suppliers.id_supplier %>
                        </td>
                        <td>
                            <%= suppliers.name_supplier %>
                        </td>
                        <td>
                            <%= suppliers.bin_supplier %>
                        </td>
                        <td>
                            <%= suppliers.name_contact_supplier %>
                        </td>
                        <td>
                            <%= suppliers.email_supplier %>
                        </td>
                        <td>
                            <%= suppliers.phone_supplier %>
                        </td>
                        <td>
                            <%= suppliers.address_supplier %>
                        </td>

                        <% cityList.forEach(function(cities) { %>
                            <td>
                                <%= cities.name_city %>
                            </td>
                            <% }); %>

                                <td>
                                    <a href="updateSupplier" class="btn btn-warning" name="modifier">Modifier</a>
                                </td>
                                <td>
                                    <a href="deleteSupplier" class="btn btn-danger">
                                        <img src="css/bootstrap/bootstrap-icons/icons/trash-fill.svg">
                                    </a>
                                </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <p id="messageClient"></p>
    </div>
    <footer>
        <%- include ("partials/footerBackOffice.ejs"); -%>
    </footer>
</body>



</html>