<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>updateUser.ejs</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">

	<!-- My CSS -->
	<link rel="stylesheet" href="css/style.css" />
</head>

<nav>
	<%- include("partials/navBar.ejs"); -%>
</nav>

<div class="mb-3">
	<a class="btn btn-primary" type="button" href="insertUser">
		<img src="css/bootstrap/bootstrap-icons/icons/arrow-left-circle-fill.svg" width="30" height="30"
			fill="%ffd700" alt="back-to-users">
	</a>
</div>

<body class="container-fluid">
	<h1 class="mb-6 row justify-content-center">Modification d'un utilisateur</h1>
	<div class="row justify-content-center">
		<div class="col-md-3">
			<form method="GET" action="/updateSelectionUser" id="formUpdateuser">
				<div class="mb-3">
					<label class="row justify-content-center">Utilisateur à modifier</label>
					<select class="form-control" name="id_user" id="iduser">
						<option value="0">Sélectionnez l'utilisateur</option>
						<% userList.forEach(function(user) { %>
							<option value="<%= user['id_user'] %>">
								<%= user['name_user'] %>
							</option>
							<% }); %>
					</select>
					<br>
					<div class="row justify-content-center">
						<input type="submit" value="Sélectionnez" class="btn btn-primary" />
					</div>
					
				</div>
			</form>

			<form method="POST" action="/updateUserValidation">
				<fieldset>
					<legend>Modifiez avant de valider</legend>
					<p>
						<label class="row justify-content-center">Identifiant utilisateur</label>
						<input class="form-control" type="text" name="id_user" id="id_user"
							value="<%= row['id_user'] %>" size="5" readonly
							 />
					</p>
					<p>
						<label class=" row justify-content-center">Nom utilisateur</label>
						<input class="form-control" type="text" name="name_user" id="name_user"
							value="<%= row['name_user'] %> " />
					</p>
					<p>
						<label class="row justify-content-center">Prénom Utilisateur</label>
						<input class="form-control" type="text" name="firstname_user" id="firstname_user"
							value="<%= row['firstname_user'] %> " />
					</p>
					<p>
						<label class="row justify-content-center">Email</label>
						<input class="form-control" type="text" name="email_user" id="email_user"
							value="<%= row['email_user'] %> " />
					</p>
					<p>
						<label class="row justify-content-center">Password</label>
						<input class="form-control" type="text" name="password_user" id="password_user"
							value="<%= row['password_user'] %> " />
					</p>
					<p>
						<input type="reset" value="Réinitialiser" class="btn btn-warning" />
						<input type="submit" value="Valider" class="btn btn-success" />
					</p>
				</fieldset>
			</form>
		</div>
	</div>
	<p>
		<%=message %>
	</p>
	<p id="lblMessage"></p>
	</article>
	<footer>
		<%- include("partials/footerBackOffice.ejs"); -%>
	</footer>
	<script>
        // document.getElementById("btValider").addEventListener("click", function(event) {
        //     event.preventDefault();
        //     console.log(document.getElementById("prix").value);
        //     let prix = document.getElementById("prix").value;
        //     console.log(!isNaN(prix));
        //     //alert("POST ANNULE");
        //     if (estNumeriqueEntier(document.getElementById("prix").value)) {
        //         document.getElementById("formulaireAjoutProduit").submit();
        //         //document.getElementById("messageClient").innerHTML = "Formulaire validé";
        //     } else {
        //         document.getElementById("messageClient").innerHTML = "Formulaire invalide";
        //     }
        // });
	</script>
</body>

</html